// ==========================================================================
// Variables - Переменные проекта
// ==========================================================================

// Base breakpoints
$size-xs-end: 575 !default;

$size-sm: 576 !default;
$size-sm-end: 767 !default;

$size-md: 768 !default;
$size-md-end: 991 !default;

$size-lg: 992 !default;
$size-lg-end: 1199 !default;

$size-mobile: 1023 !default;
$size-mobile-end: 1024 !default;

$size-xl: 1200 !default;

$maxWidth: 1820 !default;



