<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d96cc60b-a450-4493-abdf-41500b7f7e20" Alias="Конструктор шапки" Level="2">
  <Info>
    <Name>Конструктор шапки</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custome+data+types</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "3003dcc9-f2db-4f39-84d7-ca810f9ce90c",
      "name": "\u041E\u0431\u0435\u0440\u0442\u043A\u0438"
    },
    {
      "name": "\u042D\u043B\u0435\u043C\u0435\u043D\u0442\u044B",
      "key": "e5a665fa-00d8-4108-b07b-3dad3da2d078"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "79f65136-c69d-483a-b125-1730f15026f7",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "3003dcc9-f2db-4f39-84d7-ca810f9ce90c",
      "columnSpanOptions": [
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "9f2d7994-9927-4ca3-b3b0-afa565d7820f",
          "alias": "headerContent",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "acb61ef4-8693-441a-8fdf-1ee450847512"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "588ec2ac-15c6-40aa-ae37-7793cb739163"
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "588ec2ac-15c6-40aa-ae37-7793cb739163",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "3003dcc9-f2db-4f39-84d7-ca810f9ce90c",
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "c2dbf343-6443-49ac-a058-a0492f717be3",
          "alias": "siteLogo",
          "columnSpan": 12,
          "rowSpan": 1,
          "maxAllowed": null,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "acb61ef4-8693-441a-8fdf-1ee450847512"
            }
          ]
        },
        {
          "key": "f199adc0-7d45-4eef-b004-e61835d11164",
          "alias": "headerMenu",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "588ec2ac-15c6-40aa-ae37-7793cb739163"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "acb61ef4-8693-441a-8fdf-1ee450847512"
            }
          ],
          "createLabel": "headerMenu"
        }
      ]
    },
    {
      "contentElementTypeKey": "acb61ef4-8693-441a-8fdf-1ee450847512",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "e5a665fa-00d8-4108-b07b-3dad3da2d078",
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 3
    }
  ],
  "gridColumns": 12,
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>