<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4309a3ea-0d78-4329-a06c-c80b036af19a" Alias="Media Picker" Level="1">
  <Info>
    <Name>Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "a5ddeee0-8fd8-4cee-a658-6f1fcdb00de3,cc07b313-0843-4aa8-bbda-871c8da728c8,c4b1efcf-a9d5-41c4-9621-e9d273b52a9c,f6c515bb-653c-4bdc-821c-987729ebe327,a43e3414-9599-4230-a7d3-943a21b20122,4c52d8ab-54e6-40cd-999c-7a5f24903e4d",
  "multiple": false,
  "validationLimit": {
    "min": 0,
    "max": 1
  }
}]]></Config>
</DataType>