<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c807afe1-e1af-431a-9d57-9b4d87b2acf0" Alias="Palette Color Picker" Level="1">
  <Info>
    <Name>Palette Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EyeDropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "showAlpha": true,
  "showPalette": true
}]]></Config>
</DataType>