<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67e59d65-38b8-40eb-9eba-0880f811bf5e" Alias="@Шапка" Level="2">
  <Info>
    <Name>@Шапка</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custome+data+types</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "acb61ef4-8693-441a-8fdf-1ee450847512"
    },
    {
      "contentElementTypeKey": "588ec2ac-15c6-40aa-ae37-7793cb739163"
    }
  ]
}]]></Config>
</DataType>