<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea29c85e-001a-4870-8c52-6027e387dafe" Alias="A Primer On CSS Container Queries — Smashing Magazine.pdf" Level="2">
  <Info>
    <Parent Key="de7f5e6e-b86b-43c2-b36e-e62280acb6e1">Files</Parent>
    <Path>/Files/APrimerOnCSSContainerQueriesSmashingMagazinepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-01-03T13:52:45</CreateDate>
    <NodeName Default="A Primer On CSS Container Queries — Smashing Magazine.pdf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ryfocd2y/a-primer-on-css-container-queries-smashing-magazine.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>