<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d66fc39-f035-48aa-95de-594521e3fbda" Alias="Common" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Common</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-01-01T05:08:41</CreateDate>
    <NodeName Default="Common" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>