<?xml version="1.0" encoding="utf-8"?>
<Media Key="aad168ef-1866-42e3-908b-01f23ed76123" Alias="IMG_0189.webp" Level="2">
  <Info>
    <Parent Key="6d66fc39-f035-48aa-95de-594521e3fbda">Common</Parent>
    <Path>/Common/IMG_0189webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T05:09:33</CreateDate>
    <NodeName Default="IMG_0189.webp" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mcrjohap/img_0189.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>