<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf142602-ecb2-46ca-a649-73d2a5f837e8" Alias="IMG_0185.webp" Level="2">
  <Info>
    <Parent Key="6d66fc39-f035-48aa-95de-594521e3fbda">Common</Parent>
    <Path>/Common/IMG_0185webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T05:09:30</CreateDate>
    <NodeName Default="IMG_0185.webp" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rxwfeco1/img_0185.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>