<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea7eb5a9-d36a-4187-9212-4ee1d1d86cc7" Alias="IMG_4457-scaled.jpg" Level="2">
  <Info>
    <Parent Key="6d66fc39-f035-48aa-95de-594521e3fbda">Common</Parent>
    <Path>/Common/IMG_4457Scaledjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T05:09:29</CreateDate>
    <NodeName Default="IMG_4457-scaled.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ez5dqxad/img_4457-scaled.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>