<?xml version="1.0" encoding="utf-8"?>
<Media Key="832cb96c-d78a-46dc-9aa7-d02fe7f300c2" Alias="IMG_0186.webp" Level="2">
  <Info>
    <Parent Key="6d66fc39-f035-48aa-95de-594521e3fbda">Common</Parent>
    <Path>/Common/IMG_0186webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T05:09:31</CreateDate>
    <NodeName Default="IMG_0186.webp" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2nzhunpd/img_0186.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>