<?xml version="1.0" encoding="utf-8"?>
<Media Key="11e7bda5-cc17-498e-80be-9b0450973402" Alias="IMG_4460-scaled.jpg" Level="2">
  <Info>
    <Parent Key="6d66fc39-f035-48aa-95de-594521e3fbda">Common</Parent>
    <Path>/Common/IMG_4460Scaledjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T05:09:30</CreateDate>
    <NodeName Default="IMG_4460-scaled.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fj1ldj14/img_4460-scaled.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>