<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2f17ca1-5d16-442f-a73b-e8b396ec7597" Alias="IMG_4462-scaled.jpg" Level="2">
  <Info>
    <Parent Key="6d66fc39-f035-48aa-95de-594521e3fbda">Common</Parent>
    <Path>/Common/IMG_4462Scaledjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T05:09:29</CreateDate>
    <NodeName Default="IMG_4462-scaled.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/f01lozd5/img_4462-scaled.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>