<?xml version="1.0" encoding="utf-8"?>
<Media Key="414f99c3-3933-4042-9374-535b58eb9d72" Alias="IMG_4453-scaled.jpg" Level="2">
  <Info>
    <Parent Key="6d66fc39-f035-48aa-95de-594521e3fbda">Common</Parent>
    <Path>/Common/IMG_4453Scaledjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T05:09:33</CreateDate>
    <NodeName Default="IMG_4453-scaled.jpg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jrjbt300/img_4453-scaled.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>