<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5c81450-1476-4188-912a-c5a1b838aaba" Alias="IMG_0191.webp" Level="2">
  <Info>
    <Parent Key="6d66fc39-f035-48aa-95de-594521e3fbda">Common</Parent>
    <Path>/Common/IMG_0191webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T05:09:30</CreateDate>
    <NodeName Default="IMG_0191.webp" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/15pi2yy5/img_0191.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>