<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d49ebc9-f09d-4f80-b293-1a954ea4777f" Alias="IMG_0184.webp" Level="2">
  <Info>
    <Parent Key="6d66fc39-f035-48aa-95de-594521e3fbda">Common</Parent>
    <Path>/Common/IMG_0184webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T05:09:30</CreateDate>
    <NodeName Default="IMG_0184.webp" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/iyqb5o5u/img_0184.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>