<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0326345-e94a-4dbc-8b32-12231998f962" Alias="IMG_4463-scaled.jpg" Level="2">
  <Info>
    <Parent Key="6d66fc39-f035-48aa-95de-594521e3fbda">Common</Parent>
    <Path>/Common/IMG_4463Scaledjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T05:09:34</CreateDate>
    <NodeName Default="IMG_4463-scaled.jpg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zkuhizrd/img_4463-scaled.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>