<?xml version="1.0" encoding="utf-8"?>
<Media Key="50d76700-5794-45fc-b7e1-73eddfb9643f" Alias="IMG_4458-scaled.jpg" Level="2">
  <Info>
    <Parent Key="6d66fc39-f035-48aa-95de-594521e3fbda">Common</Parent>
    <Path>/Common/IMG_4458Scaledjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T05:09:30</CreateDate>
    <NodeName Default="IMG_4458-scaled.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/r4wjdzx3/img_4458-scaled.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>