<?xml version="1.0" encoding="utf-8"?>
<Media Key="51d73811-682b-45bb-8a2c-64573c11e97e" Alias="IMG_0188.webp" Level="2">
  <Info>
    <Parent Key="6d66fc39-f035-48aa-95de-594521e3fbda">Common</Parent>
    <Path>/Common/IMG_0188webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T05:09:30</CreateDate>
    <NodeName Default="IMG_0188.webp" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/t1zjdz0c/img_0188.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>