<?xml version="1.0" encoding="utf-8"?>
<Media Key="51cc6c5f-f73c-4ed3-9021-cd5dc90e28af" Alias="IMG_4455-scaled.jpg" Level="2">
  <Info>
    <Parent Key="6d66fc39-f035-48aa-95de-594521e3fbda">Common</Parent>
    <Path>/Common/IMG_4455Scaledjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T05:09:29</CreateDate>
    <NodeName Default="IMG_4455-scaled.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0ctivz0v/img_4455-scaled.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>