<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5a2313f-dbb2-48b3-b0a4-7fc714d5ca53" Alias="IMG_4456-scaled.webp" Level="2">
  <Info>
    <Parent Key="6d66fc39-f035-48aa-95de-594521e3fbda">Common</Parent>
    <Path>/Common/IMG_4456Scaledwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T05:09:32</CreateDate>
    <NodeName Default="IMG_4456-scaled.webp" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wd3piq41/img_4456-scaled.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>