<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d3e3a85-98c1-47da-afbd-d1839dd03159" Alias="IMG_4454-scaled.jpg" Level="2">
  <Info>
    <Parent Key="6d66fc39-f035-48aa-95de-594521e3fbda">Common</Parent>
    <Path>/Common/IMG_4454Scaledjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T05:09:34</CreateDate>
    <NodeName Default="IMG_4454-scaled.jpg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/blyhrk3i/img_4454-scaled.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>