<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ca30876-b6b7-4686-8362-ff54665da4b0" Alias="logoYouTube.svg" Level="2">
  <Info>
    <Parent Key="719bae3e-fca2-4fac-b0cb-1b48026ff4c6">logos</Parent>
    <Path>/logos/logoYouTubesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-01-03T12:36:15</CreateDate>
    <NodeName Default="logoYouTube.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qs0bdtvm/logoyoutube.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>