<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8e84e0c-cc4f-4e57-9bae-08b9155611f1" Alias="logoSQBig.svg" Level="2">
  <Info>
    <Parent Key="719bae3e-fca2-4fac-b0cb-1b48026ff4c6">logos</Parent>
    <Path>/logos/logoSQBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-01-03T12:36:15</CreateDate>
    <NodeName Default="logoSQBig.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/51zfuosu/logosqbig.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>