<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8e4074d-c5bd-4865-a4c1-6d3b23db3e96" Alias="rockArdLogo.svg" Level="2">
  <Info>
    <Parent Key="719bae3e-fca2-4fac-b0cb-1b48026ff4c6">logos</Parent>
    <Path>/logos/rockArdLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-01-03T13:51:10</CreateDate>
    <NodeName Default="rockArdLogo.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x43emgvg/rockardlogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>