<?xml version="1.0" encoding="utf-8"?>
<Media Key="923367eb-1f2e-4bb5-aeaa-837d75f3504c" Alias="СберУниверситет_Учись учиться_Рабочая тетрадь.pdf" Level="2">
  <Info>
    <Parent Key="de7f5e6e-b86b-43c2-b36e-e62280acb6e1">Files</Parent>
    <Path>/Files/SberUniversitet_UchisUchitSya_RabochayaTetradPdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-01-03T13:52:14</CreateDate>
    <NodeName Default="СберУниверситет_Учись учиться_Рабочая тетрадь.pdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hospw33m/сберуниверситет_учись-учиться_рабочая-тетрадь.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>