<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6eb04842-1286-4ac4-86d3-0883315f50ef" Alias="contentPage" Level="2">
  <Info>
    <Name>Контентная страница</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Content+Page</Folder>
    <Compositions>
      <Composition Key="994889ed-b21d-4242-a8f5-f6694e8a818c">navigationSettings</Composition>
      <Composition Key="5637f464-939e-4018-875a-ee007e463181">routingSettings</Composition>
      <Composition Key="468eb8c9-9ed6-444d-a30e-d15e9c1475b2">sysSeoPage</Composition>
    </Compositions>
    <DefaultTemplate>constructedPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2d46d3b9-f4fd-4806-b170-454d6cf64249">constructedPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1298d2ad-c94d-49cf-805d-6571e325cf23</Key>
      <Name>@Conctructor</Name>
      <Alias>conctructor</Alias>
      <Definition>930861bf-e262-4ead-a704-f99453565708</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a45978d0-0fb6-448b-bb72-6dfaefbf766c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>