<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="16bd8d81-fe4c-4a90-8991-558edc21ddf7" Alias="indexPage" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Content+Page</Folder>
    <Compositions>
      <Composition Key="468eb8c9-9ed6-444d-a30e-d15e9c1475b2">sysSeoPage</Composition>
      <Composition Key="d9463357-1e64-4767-acfd-e969ace4f3a0">topLevelNode</Composition>
    </Compositions>
    <DefaultTemplate>constructedPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2d46d3b9-f4fd-4806-b170-454d6cf64249">constructedPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6eb04842-1286-4ac4-86d3-0883315f50ef" SortOrder="0">contentPage</ContentType>
    <ContentType Key="6e3515eb-5706-49d3-b0ac-d31da329016c" SortOrder="1">themeEditor</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>414dca59-39b9-4363-a3d5-3efbe1ba8dde</Key>
      <Name>@Constructor</Name>
      <Alias>constructor</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>58174a99-8b7d-468a-8472-a4e6f9bb23cf</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>