<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="994889ed-b21d-4242-a8f5-f6694e8a818c" Alias="navigationSettings" Level="2">
  <Info>
    <Name>Navigation settings</Name>
    <Icon>icon-directions color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>3.+Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6ff93a12-746f-4ec6-864b-6436aed765f8</Key>
      <Name>Не показывать узел в хлебных крошках</Name>
      <Alias>hideInBreadCrambs</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="pageVisibilityAndPublicationSettings">Page visibility and publication settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6370ec64-9f70-4e92-b191-2f914af36dc4</Key>
      <Name>Показывать вложенные страницы</Name>
      <Alias>isShowChildrens</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Для отображения в многоуровневых меню]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pageVisibilityAndPublicationSettings">Page visibility and publication settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ff9dc91f-5731-4f2f-99d7-82657695bd2f</Key>
      <Name>Скрыть узел без распубликации</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageVisibilityAndPublicationSettings">Page visibility and publication settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>437e69ab-2437-4bc0-b031-a587b04d383b</Key>
      <Caption>Page visibility and publication settings</Caption>
      <Alias>pageVisibilityAndPublicationSettings</Alias>
      <Type>Group</Type>
      <SortOrder>98</SortOrder>
    </Tab>
  </Tabs>
</ContentType>