<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d9463357-1e64-4767-acfd-e969ace4f3a0" Alias="topLevelNode" Level="2">
  <Info>
    <Name>Top-level Node</Name>
    <Icon>icon-browser-window color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>3.+Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>af80860c-949f-4e58-9860-fa8467cc05e6</Key>
      <Name>Иконка для IOS</Name>
      <Alias>faviconIOS</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[PNG в размере 180x180]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="presentation/globalPresentation">Global presentation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>375ec7a2-58a2-4d40-a200-eca737ffee1c</Key>
      <Name>Фавикон</Name>
      <Alias>faviconNB</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Файл в формате SVG - favicon.svg]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="presentation/globalPresentation">Global presentation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2c125f9d-f254-448c-ba39-6913b5b7c6f4</Key>
      <Name>Footer Constructor</Name>
      <Alias>footerConstructor</Alias>
      <Definition>8e7f995c-bd81-4627-9932-c40e568ec788</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="constructorMenu/Header&amp;Footer"> Header &amp; Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>16c2c536-9ce9-494d-837b-f14b69b351df</Key>
      <Name>Конструкитор шапки для десктопа</Name>
      <Alias>headerConstructor</Alias>
      <Definition>d96cc60b-a450-4493-abdf-41500b7f7e20</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="constructorMenu/Header&amp;Footer"> Header &amp; Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c7deea2b-f4e7-4bbc-b350-a831c3116f89</Key>
      <Name>Headr Constructor for Mobile</Name>
      <Alias>headrConstructorForMobile</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="constructorMenu/Header&amp;Footer"> Header &amp; Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>698d6262-ef06-4b87-beb9-aaecfe9b84ab</Key>
      <Name>Счетчики и дополниельные META в head</Name>
      <Alias>metaExtended</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="counters&amp;META's">Counters &amp; META's</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b4d25bd4-21fd-493a-8a83-79200528966d</Key>
      <Name>Изображение  по умолчанию</Name>
      <Alias>rootDefaultImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Используется как заглушка если нет контентного]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="presentation/globalPresentation">Global presentation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2c4332b9-45b3-4852-b841-1d5c387d37c2</Key>
      <Caption> Header &amp; Footer</Caption>
      <Alias>constructorMenu/Header&amp;Footer</Alias>
      <Type>Group</Type>
      <SortOrder>99</SortOrder>
    </Tab>
    <Tab>
      <Key>46ace3a2-3c99-4381-892d-d750fdb14669</Key>
      <Caption>Constructor menu</Caption>
      <Alias>constructorMenu</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>52d57d95-de6d-4c4b-8c00-2448d52b83af</Key>
      <Caption>Presentation</Caption>
      <Alias>presentation</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>c9b79565-9ec4-466e-8f9d-a591696f983f</Key>
      <Caption>Counters &amp; META's</Caption>
      <Alias>counters&amp;META's</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>ed72fe16-826e-42f0-b765-17c485c25763</Key>
      <Caption>Global presentation</Caption>
      <Alias>presentation/globalPresentation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>