/* Автоматически сгенерированный файл стилей */
/* Не редактируйте вручную! */

:root {
  --textColor: #0b0101;
  --backgroundColor: #2f7622;
  --accentTextColor: #ffffff;
  --globalFontSize: 15px;
}
