@charset "UTF-8";

*,
:before,
:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    min-height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    overflow: auto;
    overflow-x: hidden;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

video,
audio,
canvas {
    display: inline-block;
}

span {
    display: inline-block;
}

a,
input,
button,
textarea,
optgroup,
select,
fieldset,
figure,
legend,
address {
    font: inherit;
    color: inherit;
    line-height: inherit;
    text-transform: inherit;
    text-shadow: inherit;
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

a,
button,
[type="button"],
[type="submit"] {
    transition: color 0.25s, background 0.25s, opacity 0.25s;
}

a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    -webkit-text-decoration-skip: none;
}

button {
    overflow: visible;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
}

p {
    margin: 0;
}

b,
strong {
    font-weight: 700;
}

img,
svg,
embed,
object,
iframe,
video,
audio,
canvas {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    border: 0;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    image-rendering: optimizeQuality;
}

svg {
    color: inherit;

   &:not(:root) {
        overflow: hidden;
    }
}

progress {
    vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    font: inherit;
    color: inherit;
    margin: 0;
}

ul,
ol,
menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

input,
select,
button,
button > *,
a > * {
    display: inline-block;
    vertical-align: middle;
}

button,
label,
select,
summary,
[type="button"],
[type="submit"],
[type="reset"],
[type="checkbox"],
[type="radio"],
[type="range"] {
    user-select: none;
    cursor: pointer;
}

[type="button"],
[type="submit"],
[type="search"],
[type="radio"],
[type="range"],
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-outer-spin-button,
::-webkit-inner-spin-button,
::-webkit-slider-thumb {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
}

:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px #fff;
}

::-webkit-details-marker {
    display: none;
}

[type="radio"] {
    -webkit-appearance: radio;
}

[type="number"] {
    -moz-appearance: textfield;
}

::-ms-clear,
::-ms-reveal {
    display: none;
}

textarea {
    overflow: auto;
    resize: none;
    width: 100%;
}

input {
    text-overflow: ellipsis;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

:disabled {
    pointer-events: none;
}

::-moz-focus-outer,
::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*::placeholder,
::-moz-placeholder {
  opacity: 1;
}*/

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
    text-align: center;
}body {
  background: #f00;
  color: #fff;
}