<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6361557-6bf0-46d4-b6ec-a11899975f20" Alias="home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/home</Path>
    <Trashed>false</Trashed>
    <ContentType>indexPage</ContentType>
    <CreateDate>2026-01-01T10:37:41</CreateDate>
    <NodeName Default="home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2d46d3b9-f4fd-4806-b170-454d6cf64249">constructedPage</Template>
  </Info>
  <Properties>
    <constructor>
      <Value><![CDATA[]]></Value>
    </constructor>
    <faviconIOS>
      <Value><![CDATA[]]></Value>
    </faviconIOS>
    <faviconNB>
      <Value><![CDATA[]]></Value>
    </faviconNB>
    <footerConstructor>
      <Value><![CDATA[]]></Value>
    </footerConstructor>
    <headerConstructor>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "79f65136-c69d-483a-b125-1730f15026f7",
      "key": "975e4fa6-958e-4e06-adb3-df907e5afdbd",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "acb61ef4-8693-441a-8fdf-1ee450847512",
      "key": "4bca8c3e-f007-4fcc-9012-6f201716f42f",
      "udi": null,
      "values": [
        {
          "alias": "logoDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d1a1850b-b9e2-4d75-9632-3ff6d80a5ce6",
              "mediaKey": "d8e84e0c-cc4f-4e57-9bae-08b9155611f1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "588ec2ac-15c6-40aa-ae37-7793cb739163",
      "key": "ef1d8834-b502-4b66-973c-a5706de77c3b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "588ec2ac-15c6-40aa-ae37-7793cb739163",
      "key": "2fc2021e-f004-4c44-ad00-0b5961880578",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "588ec2ac-15c6-40aa-ae37-7793cb739163",
      "key": "b33e3807-7cc0-49d0-8323-dadac9340289",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b23e7af9-079e-4894-aabd-51f0f4110e35",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "975e4fa6-958e-4e06-adb3-df907e5afdbd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4bca8c3e-f007-4fcc-9012-6f201716f42f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ef1d8834-b502-4b66-973c-a5706de77c3b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2fc2021e-f004-4c44-ad00-0b5961880578",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b33e3807-7cc0-49d0-8323-dadac9340289",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [
                  {
                    "items": [],
                    "key": "c2dbf343-6443-49ac-a058-a0492f717be3"
                  },
                  {
                    "items": [],
                    "key": "f199adc0-7d45-4eef-b004-e61835d11164"
                  }
                ],
                "columnSpan": 12,
                "contentKey": "2fc2021e-f004-4c44-ad00-0b5961880578",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [
                  {
                    "items": [],
                    "key": "c2dbf343-6443-49ac-a058-a0492f717be3"
                  },
                  {
                    "items": [],
                    "key": "f199adc0-7d45-4eef-b004-e61835d11164"
                  }
                ],
                "columnSpan": 5,
                "contentKey": "ef1d8834-b502-4b66-973c-a5706de77c3b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 2,
                "contentKey": "4bca8c3e-f007-4fcc-9012-6f201716f42f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [
                  {
                    "items": [],
                    "key": "c2dbf343-6443-49ac-a058-a0492f717be3"
                  },
                  {
                    "items": [],
                    "key": "f199adc0-7d45-4eef-b004-e61835d11164"
                  }
                ],
                "columnSpan": 5,
                "contentKey": "b33e3807-7cc0-49d0-8323-dadac9340289",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "9f2d7994-9927-4ca3-b3b0-afa565d7820f"
          }
        ],
        "columnSpan": 12,
        "contentKey": "975e4fa6-958e-4e06-adb3-df907e5afdbd",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </headerConstructor>
    <headrConstructorForMobile>
      <Value><![CDATA[]]></Value>
    </headrConstructorForMobile>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaExtended>
      <Value><![CDATA[]]></Value>
    </metaExtended>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <rootDefaultImage>
      <Value><![CDATA[]]></Value>
    </rootDefaultImage>
  </Properties>
</Content>