<?xml version="1.0" encoding="utf-8"?>
<Content Key="f52f3310-696e-42f5-a6f0-70be51521819" Alias="Home page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>indexPage</ContentType>
    <CreateDate>2025-12-31T09:07:27</CreateDate>
    <NodeName Default="Home page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2d46d3b9-f4fd-4806-b170-454d6cf64249">constructedPage</Template>
  </Info>
  <Properties>
    <constructor>
      <Value><![CDATA[]]></Value>
    </constructor>
    <faviconIOS>
      <Value><![CDATA[]]></Value>
    </faviconIOS>
    <faviconNB>
      <Value><![CDATA[]]></Value>
    </faviconNB>
    <footerConstructor>
      <Value><![CDATA[]]></Value>
    </footerConstructor>
    <headerConstructor>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "588ec2ac-15c6-40aa-ae37-7793cb739163",
      "key": "1d939bb2-4c94-421d-997d-d720b7727770",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "acb61ef4-8693-441a-8fdf-1ee450847512",
      "key": "e285f707-ccec-4704-8ad3-8edf6f60c0a7",
      "udi": null,
      "values": [
        {
          "alias": "logoDesktop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e984e988-c3a9-4968-b01d-f90b0e45c450",
              "mediaKey": "d8e84e0c-cc4f-4e57-9bae-08b9155611f1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "1d939bb2-4c94-421d-997d-d720b7727770",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e285f707-ccec-4704-8ad3-8edf6f60c0a7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "e285f707-ccec-4704-8ad3-8edf6f60c0a7",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "c2dbf343-6443-49ac-a058-a0492f717be3"
          }
        ],
        "columnSpan": 12,
        "contentKey": "1d939bb2-4c94-421d-997d-d720b7727770",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </headerConstructor>
    <headrConstructorForMobile>
      <Value><![CDATA[]]></Value>
    </headrConstructorForMobile>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <metaDescription>
      <Value><![CDATA[Привет]]></Value>
    </metaDescription>
    <metaExtended>
      <Value><![CDATA[]]></Value>
    </metaExtended>
    <metaKeywords>
      <Value><![CDATA[Привет]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[Привет]]></Value>
    </metaTitle>
    <rootDefaultImage>
      <Value><![CDATA[]]></Value>
    </rootDefaultImage>
  </Properties>
</Content>