<?xml version="1.0" encoding="utf-8"?>
<Content Key="2771e129-80ff-4b93-80ed-0d98cbc52f86" Alias="Text" Level="2">
  <Info>
    <Parent Key="f52f3310-696e-42f5-a6f0-70be51521819">Home page</Parent>
    <Path>/HomePage/Text</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-01-01T06:20:11</CreateDate>
    <NodeName Default="Text" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2d46d3b9-f4fd-4806-b170-454d6cf64249">constructedPage</Template>
  </Info>
  <Properties>
    <conctructor>
      <Value><![CDATA[]]></Value>
    </conctructor>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideInBreadCrambs>
      <Value><![CDATA[0]]></Value>
    </hideInBreadCrambs>
    <isShowChildrens>
      <Value><![CDATA[0]]></Value>
    </isShowChildrens>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlName>
      <Value><![CDATA[ret]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>