<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7a7f272-ca8b-4203-9d9f-267858567e05" Alias="Сolor scheme" Level="2">
  <Info>
    <Parent Key="e6361557-6bf0-46d4-b6ec-a11899975f20">home</Parent>
    <Path>/home/SolorScheme</Path>
    <Trashed>false</Trashed>
    <ContentType>themeEditor</ContentType>
    <CreateDate>2026-01-17T13:16:58</CreateDate>
    <NodeName Default="Сolor scheme" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <accentTextColor>
      <Value><![CDATA[#ffffff]]></Value>
    </accentTextColor>
    <backgroundColor>
      <Value><![CDATA[#2f7622]]></Value>
    </backgroundColor>
    <downLoadFonts>
      <Value><![CDATA[[
  {
    "key": "1cd8b01e-5c4c-4f65-a0ee-3aaad493fdd3",
    "mediaKey": "405f9b78-3db3-485c-8127-7a080e36a809",
    "mediaTypeAlias": "File",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </downLoadFonts>
    <globalFontSize>
      <Value><![CDATA[15]]></Value>
    </globalFontSize>
    <textColor>
      <Value><![CDATA[#0b0101]]></Value>
    </textColor>
  </Properties>
</Content>