<?xml version="1.0" encoding="utf-8"?>
<Content Key="302f41a1-8fdc-4726-ba3f-958e946d3d85" Alias="Сolor scheme" Level="2">
  <Info>
    <Parent Key="e6361557-6bf0-46d4-b6ec-a11899975f20">home</Parent>
    <Path>/home/SolorScheme</Path>
    <Trashed>false</Trashed>
    <ContentType>themeEditor</ContentType>
    <CreateDate>2026-01-02T03:41:53</CreateDate>
    <NodeName Default="Сolor scheme" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <textColor>
      <Value><![CDATA[#aa2a2a]]></Value>
    </textColor>
  </Properties>
</Content>